.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #075E54;
  color: white;
  height: 60px;
  box-sizing: border-box;
}
.header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.add-user-button{
  background-image: url("../assets/Chat_Circle_Add.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 23px;
  width: 23px;
}
.add-user-button:hover{
  cursor: pointer;
}